body {
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
  background-image: -moz-linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
  background-image: -o-linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
  background-image: -webkit-linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
}
html {
  font-size: 16px;
}
span {
  color: white;
  font-size: 3em;
  font-weight: 300;
  margin: 0 auto;
  padding: 1.5em 2em;
  text-align: center;
  text-shadow: 0px 0.1em 10px #010101;
  text-transform: uppercase;
  width: 100%;
}
.container {
  position: absolute;
  top: 45%;
  width: 100%;
}
.github-link {
  color: #e7e7e7;
  display: block;
  margin: 6em auto 0 auto;
  text-align: center;
  width: 128px;
}
.octicon {
  display: block;
  fill: #e7e7e7;
  margin: 0 auto;
  width: 50px;
}
.title {
  width: 100%;
  text-align: center;
}
