RewriteEngine On
# If an existing asset or directory is requested go to it as it is
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
#RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt|svg|woff|ttf|eot)$
#RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
#RewriteRule ^(/)?$ index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.html